<tr>
    <td class="task_checkbox">
        <input type="checkbox">
    </td>
    <td class="task_name">{{ name }} </td>
    <td class="task_btn">
        <div class="row">
            <div class="col-xs-4 text-right " style="border-right: 1px solid #ccc;padding: 0 8px;">
                <span class="glyphicon glyphicon-resize-vertical"></span>
            </div>
            <div class="col-xs-3 text-center" style="border-right: 1px solid #ccc;padding: 0 8px;">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="col-xs-3 text-left">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </td>
</tr>